doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title The Life of a Large Scale Open Source Project

    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Merriweather|Palanquin+Dark')
    link(rel='stylesheet', type='text/css', href='build/build.css')

  style.
    .boxing {
      background-image: url('images/boxing.jpg')
    }
    .fine {
      background-image: url('images/fine.gif')
    }
    .fine {
      background-image: url('images/high-five.gif')
    }
    .ihaveopinionsaboutthings {
      background-image: url('images/ihaveopinionsaboutthings.gif')
    }
    .lip-of-a-volcano {
      background-image: url('images/lip-of-a-volcano.gif')
    }
    .hackers {
      background-image: url('images/hackers.gif')
    }
    .hacktheplanet {
      background-image: url('images/hacktheplanet.gif')
    }
    .war {
      background-image: url('images/war.gif')
    }
    .elliot {
      background-image: url('images/elliot.gif')
    }
    .chaos {
      background-image: url('images/chaos.gif')
    }
    .mrrobot {
      background-image: url('images/mrrobot.gif')
    }
    .minions {
      background-image: url('images/minions.gif')
    }
    .time {
      background-image: url('images/clock.gif')
    }
    .ladder {
      background-image: url('images/ladder.gif')
    }
    .lucy {
      background-image: url('images/lucy.gif')
    }
    .no {
      background-image: url('images/no.gif')
    }
    .forever {
      background-image: url('images/forever.gif')
    }
    .money {
      background-image: url('images/money.gif')
    }

  body

    article

      section
        h4 The Life of a
        h2 Large Scale
        h4 Open Source Project
        p.headroom
          a(href='https://twitter.com/jessfraz') @jessfraz
        p  OSCON 2017

      section
        h1 I am Jess

      section
        p.headroom I have contributed to many
        p open source projects including
        h4 Docker, Go, Kubernetes,
        h4 Runc, & the Linux Kernel

        p.headroom The opinions expressed in this talk are solely my own
        p
          i (and all maintainers :P)

      section
        h1 Outline

        ul
          li.hide
          li Getting & Retaining Contributors
          li Scaling Maintainers
          li Dealing with Vulnerabilities
          li Handling Company vs. Project Conflicts

      section
        h1 Getting & Retaining Contributors

      section
        h2 Create
        h3 help-wanted
        h2 labels.

      section
        h3 Be aware of any
        h2 "internal"
        h3 decision making dynamics.

      section
        h2 Define
        h3 contributions
        p outside of code.

      section(data-bespoke-backdrop='highfive')
        h2 Value
        h3 positive reinforcement
        p to help people become
        h3 repeat contributors.

      section(data-bespoke-backdrop='time')
        h3 Be respectful of
        h2 contributors time.

      section
        h3 Clearly define processes
        h3 for people officially becoming
        h2 contributors
        h4 and
        h2 maintainers.

      section
        h1 Scaling Maintainers

      section(data-bespoke-backdrop='ihaveopinionsaboutthings')
        h4 Create
        h2 explicit guidelines
        h3 for acceptable patches & release cutoffs.

      section
        h4 Clearly define processes
        h4 for people officially becoming
        h2 contributors
        h4 and
        h2 maintainers.

      section
        h2 Encourage
        h3 frequent contributors
        h4 to take on more
        h3 responsibility.

      section
        h2 Distribute control.
        p.headroom Start with the items that are the lowest "cost",
        p aka can break short-term and no one goes crazy.

      section
        h1 Governance

      section
        h2 Ability to
        h3 change those in power
        h4 should not lie with
        h3 those in power.

      section
        h1 Dealing with Vulnerabilities

      section
        p If your project is being used, it will have
        h4 vulnerabilities discovered,
        p the key is how you deal with them.

      section(data-bespoke-backdrop='hackers')
        h2 Define a process.

      section
        h2 Make the process public.

      section
        h2 Handling everyone's needs.

        ul
          li.hide
            li Users want software without bugs.
          li Users want to upgrade without breaking the world.
          li Users want to know when to upgrade.
          li Researchers/Bug reporters want updates on what is happening.
          li Project wants to continue to instill trust.

      section
        h2 Do not compromise
        h3 on disclosure dates
        h4 so someone can give a talk at blackhat.

      section
        h3 Clearly define the
        h2 maximum time frame
        h3 for fixing a bug.

      section
        h2 Make sure
        h3 the process accounts for
        h4 when things go wrong.
        p.headroom (ex. vendors breaking embargo)

      section
        p Shameless plug to @brandonphilips and I's talk at Kubecon
        p on the Kubernetes Security Release Process:
        h4.headroom
          a(href='https://www.youtube.com/watch?v=sNjylW8FV9A') Dance Madly on the Edge of a Volcano

      section
        h1 Handling Company vs. Project Conflicts

      section(data-bespoke-backdrop='boxing')
        h3 What happens to
        h2 fiery passion
        h3 when it is fueled by
        h4 a paycheck from a company?

      section
        h2 Hire from the community.

      section
        h2 Maintainership
        h2 must be earned.

      section(data-bespoke-backdrop='no')
        h4 Allow saying
        h2 NO.

      section(data-bespoke-backdrop='forever')
        h2 LGTM
        h4 lasts forever.

      section
        h2 LGTM
        h4 is tied to
        h4 the individual
        h4 who said it.

      section(data-bespoke-backdrop='money')
        h3 Love your corporate overlords
        h2 for funding you!

      section
        h2 Collaboration
        h3 and
        h2 compromise
        h3 is key.

      section
        h2 Thank You
        h3 Jess Frazelle
        p.headroom
          a(href='https://twitter.com/jessfraz') @jessfraz

    script(src='build/build.js')
