doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title The Life of a Large Scale Open Source Project

    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Merriweather|Palanquin+Dark')
    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h3 The Life of a
        h2 Large Scale
        h3 Open Source Project
        h4
          a(href='https://twitter.com/jessfraz') @jessfraz
        p  OSCON 2017

      section
        h1 I am Jess

      section
        h3 I have contributed to many open source projects including
        h4 Docker, Go, Kubernetes, Runc, and the Linux Kernel

        p The opinions expressed in this talk are solely my own
        h5 (and all maintainers :P)

      section
        h1 Outline

        ul
          li.hide
          li Getting and Retaining Contributors
          li Scaling Maintainers
          li Dealing with Vulnerabilities
          li Handling Company vs. Project Conflicts

      section
        h1 Getting and Retaining Contributors

      section
        h1 Scaling Maintainers

      section
        h3 Create
        h2 explicit guidelines
        h3 for acceptable patches & release cutoffs.

      section
        h1 Dealing with Vulnerabilities

      section
        h1 Handling Company vs. Project Conflicts

      section
        p What happens to
        h3 fiery passion
        p when it is fueled by
        p a paycheck from a company?

      section
        h2 Hire from the community.

      section
        h2 Maintainership for a project
        h2 must be earned.

      section
        h3 Allow saying
        h2 NO.

      section
        h2 LGTM
        h3 lasts forever.

      section
        h2 LGTM
        h3 is tied to the individual who said it.

      section
        h3 Love
        p your corporate overlords
        p for funding you!

      section
        p Collaboration and compromise
        h3 is key.

      section
        h2 Thank You
        h3 Jess Frazelle
        h4 @jessfraz

    script(src='build/build.js')
