// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

.bespoke-backdrop-active {
    opacity: 0.3;
}

a.no-underline {
    color: black;
}

.headroom {
    margin-top: 1em;
}

.hide {
    opacity: 0
}

iframe {
    width: 100%
    height: 100%
}

.bespoke-parent {
    font-family: 'Palanquin Dark', futura,helvetica,arial,arial,sans-serif;
}

h3 {
    font-family: 'Merriweather', didot,times new roman,serif;
}

h4 {
    margin: 0.5em 0;
}
