doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Tales from Inside the Container

    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Merriweather|Palanquin+Dark')
    link(rel='stylesheet', type='text/css', href='build/build.css')

  style.
    .blogcomments {
      background-image: url('images/blogcomments.gif')
    }
    .ihaveopinionsaboutthings {
      background-image: url('images/ihaveopinionsaboutthings.gif')
    }
    .dance {
      background-image: url('images/dance.gif')
    }
    .stewie {
      background-image: url('images/stewie.gif')
    }
    .lmctfy {
      background-image: url('images/lmctfy.png')
    }
    .libcontainer {
      background-image: url('images/libcontainer.png')
    }
    .nsinit {
      background-image: url('images/nsinit.png')
    }
    .bride {
      background-image: url('images/bride.png')
    }
    .commits {
      background-image: url('images/commits.png')
    }
    .exec {
      background-image: url('images/exec.png')
    }
    .ipv6 {
      background-image: url('images/ipv6.png')
    }
    .userns {
      background-image: url('images/userns.png')
    }

  body

    article

      section
        h4 Tales from
        h2 Inside
        h4 the Container
        p.headroom
          a(href='https://twitter.com/jessfraz') @jessfraz
        p  k8s birthday 2017

      section
        h1 I am Jess

      section
        p.headroom I have contributed to many
        p open source projects including
        h4 Docker, Go, Kubernetes,
        h4 Runc, & the Linux Kernel

        p.headroom The opinions expressed in this talk are solely my own
        p
          i (I mean it :P)

      section
        h3 It's been
        h2 a journey

      section
        h3 I've
        h2 seen
        h3 some things.

      section(data-bespoke-backdrop='stewie')
        h4 Some days
        h3 I felt like...

      section(data-bespoke-backdrop='ihaveopinionsaboutthings')
        h2 and...

      section(data-bespoke-backdrop='blogcomments')
        h2 and even...

      section(data-bespoke-backdrop='dance')
        h3 but mostly just...

      section
        h1 The beginning

      section
        h2 Early
        h2 projects

      section(data-bespoke-backdrop='lmctfy')
        h2 lmctfy

      section(data-bespoke-backdrop='libcontainer')
        h2 libcontainer

      section(data-bespoke-backdrop='nsinit')
        h2 nsinit

      section
        h2 nsinit
        h3 was
        h2 runc
        h3 before
        h2 runc
        h3 was cool.

      section
        h3 Everyone
        h4 helped

      section(data-bespoke-backdrop='exec')
        p vishh with 'docker exec'

      section
        h3 Lessons learned
        h4 from pull requests

      section(data-bespoke-backdrop='userns')
        h2 User Namespaces
        p.headroom It takes a village...

      section(data-bespoke-backdrop='commits')
        p but you can have fun.

      section(data-bespoke-backdrop='ipv6')
        h2 IPV6
        p Nobody cares about IPV6.

      section
        h3 And all the other lessons....

      section
        h3 The thing about
        h2 'caring'
        h3 is it's hard to
        h2 stop caring.

      section
        h3 We've learned
        h2 a lot
        h3 and built
        h2 a lot...

      section
        h3 ...there is still
        h2 a lot of
        h3 room to grow.

      section
        h2 Thank You
        h3 Jess Frazelle
        p.headroom
          a(href='https://twitter.com/jessfraz') @jessfraz

    script(src='build/build.js')
